<!-- news/templates/news/story.html -->
{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css'%}">
{% endblock %}

{% block content %}

    <div id="story-wrapper">
        <h2>{{ story.title }}</h2>
        <h4>{{ story.author }}</h4>
        <div id="story-content">
            <img src="{% static '/news/images/img-2.jpg' %}">
            {{ story.content|linebreaks }}
        </div>
    </div>

    {% if comments %}
        <h2>Comments</h2>
        <ul>
            {% for comment in comments %}
                <li>
                    <strong>{{ comment.author }}</strong>: {{ comment.text }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No comments here, yet. Why not be the first?</p>
    {% endif %}

    <h2>Have your say!</h2>
    {% if user.is_authenticated %}
        <form action="{% url 'news:add_comment' pk=story.pk %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Add Comment" />
        </form>
    {% else %}
        <p>Please <a href="{% url 'login' %}">login</a> to have your say.</p>
    {% endif %}

{% endblock %}
